.text-danger{
    text-align: start;
    margin-left: 7 px;
}
.h2{
    background-color: #F4F4F4;
    text-align:center;
}
.combo{
    background-color: #dbdbdb;
}
.centrar{
    text-align:center;
}
.p {  
    font-family: "Segoe UI";
    
  }
.p2 {
    font-family: cursive;
    font-size: 95%;
  }
  .letra1 {
    font-size: 12px;
  }
.letra2 {
    font-size: 20px;
  }