<body class="hold-transition sidebar-mini p">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark navbar-gray-dark">
            <!--navbar-primary,secundary,info,success,dark,  -->
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!--------------------------Cerrar Sesión----------------------------->

            <ul class="navbar-nav ml-auto">

                <!-- Cerrar sesion -->
                <li class="nav-item dropdown">
                    <a class="nav-link" (click)="logOut()"> <abbr title="Cerrar Sesión"><i
                                class="far fa-sign-out-alt fa-2x "></i></abbr> </a>

                </li>
                <!-- Colchones derecha -->
                <li class="nav-item dropdown"><a class="nav-link" routerLink="/admin/reg-prof"> <i></i></a></li>
                <li class="nav-item dropdown"><a class="nav-link" routerLink="/admin/reg-prof"><i></i></a></li>

            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-4 sidebar-dark-success">
            <!--navbar-orange,warning,pink,secundary,info,success,indigo,purple,vany,teal,cyan,--->
            <!-- Brand Logo -->
            <a routerLink="/app/reg-prof" class="brand-link navbar-warning">
                <!--navbar-orange,warning,pink,secundary,info,success,indigo,purple,vany,teal,cyan,--->
                <img src="./assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
                    class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text text-secondary">ADMINISTRADOR</span>
            </a>
    
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="./assets/dist/img/userAdmin.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a (click)="view()" class="d-block centrar">{{nombre}}</a>
                        <a  class="d-block centrar">usuario: {{usuario}}</a>
                    </div>
                </div>
    
                <!-- Sidebar Menu -->
                <nav class="mt-2 p2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
    
                        <!-- REGISTRO DE DATOS -->
                        <li class="nav-item has-treeview menu-open">
                            <a routerLink="/admin/reg-prof" class="nav-link active">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    REGISTRO DE DATOS
                                    <i class="fas fa-angle-left right "></i>
                                </p>
                            </a>
    
    
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-prof" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p class="p">Docente</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-est" class="nav-link  active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Estudiante</p>
                                    </a>
                                </li>
    
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-rep" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Representante</p>
                                    </a>
                                </li>
    
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-ficha" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Ficha Estudiantil</p>
                                    </a>
                                </li>
    
                            </ul>
                        </li>
    
                        <!-- USUARIOS -->
                        <li class="nav-item has-treeview">
                            <a routerLink="/admin/aut-system" class="nav-link">
                                <i class="nav-icon fas fa-user-plus"> </i>
                                <p>
                                    &nbsp;CREAR USUARIO
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a routerLink="/admin/aut-system" class="nav-link active">
                                        <i class="far fa-circle nav-icon"> </i> 
                                        <p>  Docente / Administrador</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/admin/aut-system-e" class="nav-link">
                                        <i class="far fa-circle nav-icon"> </i> 
                                        <p>Estudiante</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
    
                        
                        <!-- ACADEMICO -->
                        <li class="nav-item has-treeview">
                            <a routerLink="/admin/reg-periodo" class="nav-link">
                                <i class="fas fa-layer-group"> </i>   
                                <p>
                                    &nbsp; DATOS DE AULA
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-periodo" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Periodo Lectivo</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-grado" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Grados</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-nivel" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Niveles</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-materia" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>materias</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-paralelo" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Paralelos</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
    
                        <!-- MATRICULAS -->
                        <li class="nav-item">
                            <a routerLink="/admin/reg-matricula" class="nav-link">
                                <i class="fas fa-school"></i>
                                <p>
                                    &nbsp;ACADÉMICO
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-matricula" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Matricula de Estudiantes</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-dist" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Distributivo de Docentes</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
    
                        <!-- CALIFICACIONES -->
                        <li class="nav-item has-treeview">
                            <a routerLink="/admin/active-nota" class="nav-link">
                                <i class="fas fa-graduation-cap"></i>
                                <p>
                                    &nbsp;CALIFICACIONES
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a routerLink="/admin/active-nota" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Activar ingreso de notas</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                       
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2"> 
                        <div class="col-sm-6">
                            <h5><strong>{{Titulo}}</strong></h5>
                        </div>

                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item">{{subnivel}}</li>
                                <li class="breadcrumb-item active">DATOS DE ESTUDIANTE</li>
                            </ol>
                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    <div class="row justify-content-center">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="card card-warning">
                                <div class="card-header">
                                    <h3 class="card-title">INGRESO DE DATOS</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->

                                <form class="card-body" role="form" [formGroup]="EstudianteForm"
                                    (ngSubmit)="saveData()">
                                    <div class="card-body  shadow p-3 mb-5 bg-white rounded">

                                        <div class="row">
                                            <div class="col-md-12 h2">
                                                <h2>DATOS PERSONALES DEL ESTUDIANTE</h2>
                                            </div>


                                            <div class="col-md-4">

                                                <div class="form-group">
                                                    <label>Tipo de identificación</label>
                                                    <select class="form-control combo" name="Tipo_documento"
                                                        formControlName="Tipo_documento" [(ngModel)]="elegido3">
                                                        <option *ngFor="let n3 of Documento">{{ n3.name }}</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="DNI">Número de identificación:</label>
                                                    <input type="text" class="form-control" name="DNI"
                                                        formControlName="DNI" placeholder="Identificación">
                                                    <div class="text-danger"
                                                        *ngIf="EstudianteForm.get('DNI')?.hasError('required') && EstudianteForm.get('DNI')?.touched">
                                                        <span>El campo: Cédula de Identidad <strong>es
                                                                obligatorio</strong></span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="Fecha_nacimiento">Fecha de nacimiento:</label>
                                                    <input type="date" class="form-control" name="Fecha_nacimiento"
                                                        formControlName="Fecha_nacimiento">
                                                    <div class="text-danger"
                                                        *ngIf="EstudianteForm.get('Fecha_nacimiento')?.hasError('required') && EstudianteForm.get('Fecha_nacimiento')?.touched">
                                                        <span>La Fecha de Nacimiento <strong>es
                                                                obligatorio</strong></span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="Etnia">Etnia a la que pertenece:</label>
                                                    <input type="text" class="form-control" name="Etnia"
                                                        formControlName="Etnia" placeholder="Etnia">
                                                    <div class="text-danger"
                                                        *ngIf="EstudianteForm.get('Etnia')?.hasError('required') && EstudianteForm.get('Etnia')?.touched">
                                                        <span>El campo: Etnia <strong>es obligatorio</strong></span>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-4">

                                                <div class="form-group">
                                                    <label>Estado civil</label>
                                                    <select class="form-control combo" name="Estado_civil"
                                                        formControlName="Estado_civil" [(ngModel)]="elegido4">
                                                        <option *ngFor="let n4 of Estado_civil">{{ n4.name }}</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="Nombres">Nombres del registrado:</label>
                                                    <input type="text" class="form-control" name="Nombres"
                                                        formControlName="Nombres" placeholder="Nombres">
                                                    <div class="text-danger"
                                                        *ngIf="EstudianteForm.get('Nombres')?.hasError('required') && EstudianteForm.get('Nombres')?.touched">
                                                        <span>El campo: Nombres <strong>es obligatorio</strong></span>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label for="Lugar_nacimiento">Lugar de nacimiento:</label>
                                                    <input type="text" class="form-control" name="Lugar_nacimiento"
                                                        formControlName="Lugar_nacimiento"
                                                        placeholder="Lugar de nacimiento">
                                                    <div class="text-danger"
                                                        *ngIf="EstudianteForm.get('Lugar_nacimiento')?.hasError('required') && EstudianteForm.get('Lugar_nacimiento')?.touched">
                                                        <span>El campo: Lugarde Nacimiento <strong>es
                                                                obligatorio</strong></span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="Codigo">Código único del estudiante:</label>
                                                    <input type="text" class="form-control" name="Codigo"
                                                        formControlName="Codigo"
                                                        placeholder="código único de estudiante">
                                                    <div class="text-danger"
                                                        *ngIf="EstudianteForm.get('Codigo')?.hasError('required') && EstudianteForm.get('Codigo')?.touched">
                                                        <span>ElProfesores campo Código Único <strong>es
                                                                obligatorio</strong></span>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="col-md-4">

                                                <div class="form-group">
                                                    <label>Género</label>
                                                    <select class="form-control combo" name="Genero"
                                                        formControlName="Genero" [(ngModel)]="elegido2">
                                                        <option *ngFor="let n2 of Genero">{{ n2.name }}</option>
                                                    </select>
                                                </div>

                                                
                                                <div class="form-group">
                                                    <label for="Apellidos">Apellidos del registrado:</label>
                                                    <input type="text" class="form-control" name="Apellidos"
                                                        formControlName="Apellidos" placeholder="Apellidos">
                                                    <div class="text-danger"
                                                        *ngIf="EstudianteForm.get('Apellidos')?.hasError('required') && EstudianteForm.get('Apellidos')?.touched">
                                                        <span>El campo: Apellidos <strong>es obligatorio</strong></span>
                                                    </div>
                                                </div>

                                                
                                                <div class="form-group">
                                                    <label for="Nacionalidado">Nacionalidad:</label>
                                                    <input type="text" class="form-control" name="Nacionalidad"
                                                        formControlName="Nacionalidad" placeholder="Nacionalidad">
                                                    <div class="text-danger"
                                                        *ngIf="EstudianteForm.get('Nacionalidad')?.hasError('required') && EstudianteForm.get('Nacionalidad')?.touched">
                                                        <span>El campo: Nacionalidad <strong>es
                                                                obligatorio</strong></span>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                       
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-12 h2">
                                                <h2> DATOS DE UBICACIÓN Y CONTACTO </h2>
                                            </div>

                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    <label for="Direccion">Lugar de domicilio:</label>
                                                    <input type="text" class="form-control" name="Direccion"
                                                        formControlName="Direccion" placeholder="Ubicación">
                                                    <div class="text-danger"
                                                        *ngIf="EstudianteForm.get('Direccion')?.hasError('required') && EstudianteForm.get('Direccion')?.touched">
                                                        <span>El campo de Ubicación <strong>es
                                                                obligatorio</strong></span>
                                                    </div>
                                                </div>

                                                       
                                                <div class="form-group">
                                                    <label for="Referencia_domicilio">Referencia de domicilio:</label>
                                                    <input type="text" class="form-control" name="Referencia_domicilio"
                                                        formControlName="Referencia_domicilio" placeholder="Referencia">
                                                    <div class="text-danger"
                                                        *ngIf="EstudianteForm.get('Referencia_domicilio')?.hasError('required') && EstudianteForm.get('Referencia_domicilio')?.touched">
                                                        <span>El campo de Referencia <strong>es
                                                                obligatorio</strong></span>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                               
                                                <div class="form-group">
                                                    <label for="Sector_domicilio">Dirección de domicilio:</label>
                                                    <input type="text" class="form-control" name="Sector_domicilio"
                                                        formControlName="Sector_domicilio" placeholder="Dirección">
                                                    <div class="text-danger"
                                                        *ngIf="EstudianteForm.get('Sector_domicilio')?.hasError('required') && EstudianteForm.get('Sector_domicilio')?.touched">
                                                        <span>El campo de Dirección <strong>es
                                                                obligatorio</strong></span>
                                                    </div>
                                                </div>   

                                              
                                            </div>

                                        </div>

                                        <hr>


                                        <div class="row">
                                            <div class="col-md-12 h2">
                                                <h2>DATOS DE SALUD</h2>
                                            </div>

                                            <div class="col-md-3">

                                                <div class="form-group">
                                                    <label>Tipo de Discapacidad</label>
                                                    <select class="form-control combo" name="Tipo_discapacidad"
                                                        formControlName="Tipo_discapacidad" [(ngModel)]="elegido6">
                                                        <option *ngFor="let n6 of Discapacidad">{{ n6.name }}</option>
                                                    </select>
                                                </div>

  
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Carnet_discapacidad">Carnet de discapacidad</label>
                                                    <input type="text" class="form-control" name="Carnet_discapacidad"
                                                        formControlName="Carnet_discapacidad" placeholder="Especificar">
                                                </div>
                                                
                                            </div>

                                            <div class="col-md-3">

                                                <div class="form-group">
                                                    <label for="Porcentaje_discapacidad">(%) de discapacidad
                                                        </label>
                                                    <input type="number" class="form-control"
                                                        name="Porcentaje_discapacidad" maxlength="5"
                                                        formControlName="Porcentaje_discapacidad" placeholder="0.0" value="0.0">
                                                </div>

                                            </div>

                                            <div class="col-md-3">

                                                <div class="form-group">
                                                    <label>Grupo Sanguineo</label>
                                                    <select class="form-control combo" name="Grupo_sanguineo"
                                                        formControlName="Grupo_sanguineo" [(ngModel)]="elegido5">
                                                        <option *ngFor="let n5 of Sangre">{{ n5.name }}</option>
                                                    </select>
                                                </div>

                                            </div>

                                           
                                            <div class="col-md-9">

                                                <div class="form-group">
                                                    <label for="Observacion_medica">Alguna observación médica</label>
                                                    <input type="text" class="form-control" name="Observacion_medica"
                                                        formControlName="Observacion_medica" value="Ninguna"
                                                        placeholder="Cualquier observación">
                                                </div>
                                                
                                            </div>

                                        
                                        </div>
                                      
                                        <hr>

                                        <div class="row  shadow p-3 mb-5 bg-white rounded">

                                            <div class="col-md-12 h2">
                                                <h2>INFORMACIÓN ADICIONAL</h2>
                                            </div>

                                            <div class="col-md-12">

                                                <div class="form-group">
                                                    <label for="Observacion">Otras observaciones</label>
                                                    <input type="text" class="form-control" maxlength="400"
                                                        name="Observacion" value="Ninguna" formControlName="Observacion"
                                                        placeholder="Observación">
        
                                                </div>
        
                                                <div class="form-group form-check form-switch">
                                                    <input class="form-check-input" type="checkbox"
                                                        formControlName="Estado" name="Estado"  value="true">
                                                    <label for="Estado">Habilitar Docente</label>
                                                </div>
    
                                            </div>

                                          
                                        </div>

                                    </div>
                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <button type="submit" 
                                                    value="Registrar" [disabled]="EstudianteForm.invalid"
                                                    class="btn btn-block bg-gradient-success "><i class="fas fa-archive"></i>  Guardar</button>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" (click)="RedirectCancel()"
                                                    class="btn btn-block bg-gradient-secondary"
                                                    value="Tabla"><i class="fad fa-eraser"></i> Nuevo</button>
                                            </div>
                                            <div class="col-md-6"></div>
                                            <div class="col-md-2">
                                                <button type="button" routerLink="/admin/list-est"
                                                    class="btn btn-block bg-gradient-info" value="Tabla"><i class="fas fa-list"></i> Listado</button>
                                            </div>

                                        </div>

                                    </div>
                                </form>
                            </div>
                            <!-- /.card -->

                        </div>
                        <!--/.col (left) -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Copyright &copy;</b> 2021
            </div>
            <strong> <a href="https://www.facebook.com/uecibbenitojuarez/">Unidad Educativa Comunitaria Intercultural
                    Bilingüe "Benito Juárez"</a>.</strong>

        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

</body>