<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark navbar-gray-dark">
            <!--navbar-primary,secundary,info,success,dark,  -->
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!--------------------------Cerrar Sesión----------------------------->

            <ul class="navbar-nav ml-auto">

                <!-- Cerrar sesion -->
                <li class="nav-item dropdown">
                    <a class="nav-link" (click)="logOut()"> <abbr title="Cerrar Sesión"><i
                                class="far fa-sign-out-alt fa-2x "></i></abbr> </a>

                </li>
                <!-- Colchones derecha -->
                <li class="nav-item dropdown"><a class="nav-link" routerLink="/admin/list-aut-e"> <i></i></a></li>
                <li class="nav-item dropdown"><a class="nav-link" routerLink="/admin/list-aut-e"><i></i></a></li>

            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-4 sidebar-dark-success">
            <!--navbar-orange,warning,pink,secundary,info,success,indigo,purple,vany,teal,cyan,--->
            <!-- Brand Logo -->
            <a routerLink="/app/reg-prof" class="brand-link navbar-warning">
                <!--navbar-orange,warning,pink,secundary,info,success,indigo,purple,vany,teal,cyan,--->
                <img src="./assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
                    class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text text-secondary">ADMINISTRADOR</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="./assets/dist/img/userAdmin.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a (click)="view()" class="d-block centrar">{{nombre}}</a>
                        <a class="d-block centrar">usuario: {{usuario}}</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2 p2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->

                        <!-- REGISTRO DE DATOS -->
                        <li class="nav-item has-treeview">
                            <a routerLink="/admin/reg-prof" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    REGISTRO DE DATOS
                                    <i class="fas fa-angle-left right "></i>
                                </p>
                            </a>


                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-prof" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p class="p">Docente</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-est" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Estudiante</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a routerLink="/admin/reg-rep" class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Representante</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a routerLink="/admin/reg-ficha" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Ficha Estudiantil</p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <!-- USUARIOS -->
                        <li class="nav-item has-treeview menu-open">
                            <a routerLink="/admin/aut-system" class="nav-link   active">
                                <i class="nav-icon fas fa-user-plus"> </i>
                                <p>
                                    &nbsp;CREAR USUARIO
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a routerLink="/admin/aut-system" class="nav-link">
                                        <i class="far fa-circle nav-icon"> </i>
                                        <p> Docente / Administrador</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/admin/aut-system-e" class="nav-link active">
                                        <i class="far fa-circle nav-icon"> </i>
                                        <p>Estudiante</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <!-- ACADEMICO -->
                        <li class="nav-item has-treeview">
                            <a routerLink="/admin/reg-periodo" class="nav-link">
                                <i class="fas fa-layer-group"> </i>
                                <p>
                                    &nbsp; DATOS DE AULA
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-periodo" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Periodo Lectivo</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-grado" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Grados</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-nivel" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Niveles</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-materia" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>materias</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-paralelo" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Paralelos</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- MATRICULAS -->
                        <li class="nav-item">
                            <a routerLink="/admin/reg-matricula" class="nav-link">
                                <i class="fas fa-school"></i>
                                <p>
                                    &nbsp;ACADÉMICO
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-matricula" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Matricula de Estudiantes</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/admin/reg-dist" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Distributivo de Docentes</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- CALIFICACIONES -->
                        <li class="nav-item has-treeview">
                            <a routerLink="/admin/active-nota" class="nav-link">
                                <i class="fas fa-graduation-cap"></i>
                                <p>
                                    &nbsp;CALIFICACIONES
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a routerLink="/admin/active-nota" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Activar ingreso de notas</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">

                        <div class="col-sm-6">
                            <h5><strong>DOCENTE - ADMINISTRADOR: LISTA DE CUENTAS DE ACCESO</strong></h5>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item">{{subnivel}}</li>
                                <li class="breadcrumb-item active">{{Titulo}}</li>
                            </ol>
                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->

            <section class="content">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="card card-warning">
                                <div class="card-header">
                                    <h3 class="card-title">{{Titulo}}</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                              
                                <form class="card-body" role="form" [formGroup]="AccesoForm">
                                    <div class="clard-footer">
                                        <div class="row">
                                            <div class="col-md-12 h2">
                                                <h2>LISTA DE USUARIOS QUE ACCESAN AL SISTEMA</h2>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <select name="Combo" formControlName="Combo"
                                                        class="form-control combo" style="width:160px;">
                                                        ngModel="elegido2">
                                                        <option *ngFor="let n2 of Buscar">{{ n2.name }}</option>
                                                    </select>

                                                </div>
                                            </div>

                                            <div class="col-md-1"></div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="card-tools">
                                                        <div class="input-group input-group-default ">
                                                            <input type="text" name="search"
                                                                formControlName="Search"
                                                                class="form-control float-left"
                                                                placeholder="Search">

                                                            <div class="input-group-append">
                                                                <button type="button" (click)="search()"
                                                                    class="btn btn-default"><i
                                                                        class="fas fa-search"></i></button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-1"></div>

                                            <div class="col-md-2">
                                                <button class="btn btn-block bg-gradient-info"
                                                    (click)="this.obtenerAcceso()"><i class="fas fa-list"> </i>
                                                    Todo </button>
                                            </div>

                                            <div class="col-md-2">
                                                <button class="btn btn-block bg-gradient-success"
                                                    routerLink="/admin/aut-system-e"><i class="fas fa-users-medical"></i>
                                                    Nuevo </button>
                                            </div>

                                        </div>
                                    </div><br> <br>

                                    <!--Tabla-->
                                  <div class="row row shadow p-3 mb-5 bg-white rounded">
                                    <div class="card-body table-responsive p-0" style="height: 400px;">
                                        <table *ngIf="lista.dni.length > 0"
                                            class="table table-hover table-head-fixed text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Cédula</th>
                                                    <th>Nombres</th>
                                                    <th>Rol de Usuario</th>
                                                    <th>Nombre de Usuario</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let estudiante of  lista.dni">
                                                    <td>{{estudiante.DNI}}</td>
                                                    <td>{{estudiante.Apellidos}} {{estudiante.Nombres}}</td>
                                                    <td>{{estudiante.Rol}}</td>
                                                    <td>{{estudiante.Usuario}}</td>
                                                    <td class="colum">
                                                        <i (click)="viewAut(estudiante.Docente)"
                                                            class="fas fa-eye fa-lg text-warning mr-2"></i>
                                                        <i (click)="updateAut(estudiante._id)"
                                                            class="fas fa-edit fa-lg text-info mr-2"></i>
                                                        <i (click)="deleteAut(estudiante._id)"
                                                            class="fas fa-trash-alt fa-lg text-danger"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h5 style="text-align:start; margin-top: 10px;"
                                            *ngIf="lista.dni.length == 0">No existen registros de
                                            <strong>Estudiantes</strong> para mostrar..!</h5>
                                    </div>
                                  </div>
                               

                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-10"></div>

                                        <div class="col-md-2">
                                        </div>

                                    </div>

                                </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div><!-- /.container-fluid -->
            </section>

            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Copyright &copy;</b> 2021
            </div>
            <strong> <a href="https://www.facebook.com/uecibbenitojuarez/">Unidad Educativa Comunitaria Intercultural
                    Bilingüe "Benito Juárez"</a>.</strong>

        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

</body>