
<body class="hidden">
    

    <header>
        <div class="textos2">
            <h1>Sistema de Gestión Académica</h1>
            <h2>Unidad Educativa Comunitaria Intercultural Bilingüe "Benito Juárez"</h2>
        </div>
    </header>

    <main>

        <section class="about" id="servicio">
            <div class="textos">
                <h1>Acceso de Usuarios</h1>
                <p class="after">&nbsp;&nbsp;</p>
                <div class="servicios">
                    <div class="caja-servicios">
                        <img src="./assets/img/heart.png" alt="">
                        <h2>Portafolio Administrador</h2>
                        <button  (click)="Redirect1()" type="button" class="btn btn-block btn-outline-warning btn-lg">Ingresa aquí</button>
                    </div>
                    <div class="caja-servicios">
                        <img src="./assets/img/responsive.png" alt="">
                        <h2>Portafolio &nbsp;&nbsp;Docente</h2>
                        <button (click)="Redirect2()" type="button" class="btn btn-block btn-outline-info btn-lg">Ingresa aquí</button>
                    </div>
                    <div class="caja-servicios">
                        <img src="./assets/img/efectos.png" alt="">
                        <h2>Portafolio Estudiante</h2>
                        <button (click)="Redirect3()" type="button" class="btn btn-block btn-outline-success btn-lg">Ingresa aquí</button>
                    </div>
                </div>
            </div>

            <div class="textos">
                <h1>&nbsp;&nbsp;</h1>
                <p class="after">&nbsp;&nbsp;</p>
                <div class="servicios">
                    <div class="textos">
                        <h4>Libre, y para mi sagrado, es el derecho de pensar...
                            La educación es fundamental para la felicidad social; es el principio en el que descansan la libertad
                           y el engrandecimiento de los pueblos.</h4>
                        <p> - Benito Juárez -</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>